body {
    margin: 0;
    background-color: black;
    color: white;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(136, 207, 235)
}
.navbar-left {
    padding: 10px;
}
.image-logo {
    height: 80px;
    width: 100px;
}
.navbar-right {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.a-element {
    padding: 10px;
    margin: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
   font-weight: bold;
}
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
}
.home-left {
    width: 50vw;
    text-align: right;
    padding-left: 200px;
}
.home-right {
    width: 50vw;
    padding-left: 50px;
}
.logo {
    height: 300px;
    width: 250px;
}
.home-h1 {
    font-family: monospace;
    font-size: 40px;
    color: rgb(127, 204, 234);
}
.home-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.foundational-languages {
    padding: 5px;
    text-align: center;
}
.found-h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(119, 206, 240);
    letter-spacing: 2px;
    font-size: 30px;
}
.foundational-languages-sub-cont {
    display: flex;
    flex-direction: row;
}
.foundational-languages-card {
    border: 2px #6ec3e5 solid;
    margin: 50px;
    padding: 20px;
    width: 550px;
}
.fnd-h1 {
    font-family: monospace;
    font-size: 20px;
}
.fnd-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;   
}
.contact {
    text-align: center;
}
.contact-info {
    font-family: monospace;
    font-size: 20px;
}
.social-icon-img {
    height: 50px;
    padding: 20px;
}